<div class="container-scroller">

    <div class="row flex-grow">
        <div class="col-lg-7 mx-auto ">
            <div class="row align-items-center d-flex flex-row">
                <div class="col-lg-6 text-lg-right pr-lg-4">
                    <h1 class="display-1 mb-0"> Not Found 404</h1>
                </div>
                <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                    <h2>Üzgünüz :(</h2>
                    <h3 class="font-weight-light">Aradiğınız sayfayı bulamadık </h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center mt-xl-2">
                    <a class="font-weight-medium" href="/Default/Index">Ana Sayfaya Dön</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 mt-xl-2">
                    <p class=" font-weight-medium text-center">Copyright &copy; @DateTime.Now.Year Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
</div>