@using EntityLayer.Concrete
@model ContactMessage

<div class="col-lg-6 mt-4 mt-lg-0">
    <form method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
        <div class="row">
            <div class="col-md-6 form-group">
                <input  type="text" name="Name" class="form-control" id="Name" placeholder="Adınız Soyadınız" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
                <input  type="email" class="form-control" name="Mmail" id="Mail" placeholder="Mail Adresiniz" required>
            </div>
        </div>
        <div class="form-group mt-3">
            <input  type="text" class="form-control" name="Subject" id="Subject" placeholder="Konu" required>
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" name="Message" rows="5" id="Message" placeholder="Mesajınız. En az 30 karakter olmalı" required></textarea>
        </div>
        <div id="error"> </div>
        <div id="success"> </div>

        <div class="text-center">
            <input type="text" hidden value="@DateTime.Now.ToShortDateString()" name="Date">
            <br />
            <button id="btncontactadd" type="submit">Mesajı Gönder</button>
        </div>


        </p>
    </form>
</div>

<script>

    eventListeners();

    function eventListeners() {
        document.getElementById("btncontactadd").addEventListener("click", submitForm);
    }

    function submitForm(e) {
        let values = {
            name: document.getElementById("Name").value,
            mail: document.getElementById("Mail").value,
            subject: document.getElementById("Subject").value,
            message: document.getElementById("Message").value
        };

        let text;
        let text2;

        console.log(values.message.length);
        console.log(values.name);
        if (values.message.length < 30) {
            text2 = "";
            text = '<p  style=" color: #fff; background: red; text-align: left; padding:15px; font-weight: 600;"> En az 30 karakter girmelisiniz!!!</p> ';
        }

        // else if (values.mail.length === 0) {
        //     alert("Lutfen Mail adresi giriniz.");
        //}
        else if (values.name === "Ensuecy") {
            alert("No");  
        }


        else {
            $.ajax({
                type: "Post",
                url: "/Default/Send/",
                data: values,
                success: function (fnk1) {
                    let result = jQuery.parseJSON(fnk1);
                }
            });
            text = "";
            text2 = '<p  style=" color: #fff; background: green; text-align: left; padding:15px; font-weight: 600;"> Mesajınız başarılı bir şekilde gönderilmiştir.!</p> ';
           
            
        }
     
        document.getElementById("error").innerHTML = text;
        document.getElementById("success").innerHTML = text2;

        e.preventDefault();
    }
</script>

<script src="~/lib/jquery/dist/jquery.js"></script>